<nav class="navbar fixed-top navbar-toggleable-sm navbar-inverse bg-inverse">
  <ul class="navbar-nav">
    <li> <router-link class="nav-item" tag="li" to="/" exact>
      <a class="nav-link"><i class="fa fa-home"></i> Home</a>
    </router-link>
    </li>
    <li>
    <router-link class="nav-item" tag="li" to="/enseignants" exact>
      <a class="nav-link"><i class="fa fa-file-text-o"></i> Enseignant</a>
    </router-link>
    </li>
    <li>
    <router-link class="nav-item" tag="li" to="/salles" exact>
      <a class="nav-link"><i class="fa fa-file-text-o"></i> Salles</a>
    </router-link>
    </li>
    <li>
    <router-link class="nav-item" tag="li" to="/seances" exact>
      <a class="nav-link"><i class="fa fa-file-text-o"></i> Seances</a>
    </router-link>
    </li>
    <li>
    <router-link class="nav-item" tag="li" to="/groupes" exact>
      <a class="nav-link"><i class="fa fa-file-text-o"></i> Groupe</a>
    </router-link>
    </li>
    <li>
    <router-link class="nav-item" tag="li" to="/creneaux" exact>
      <a class="nav-link"><i class="fa fa-file-text-o"></i> Créneau</a>
    </router-link>
    </li>
    
    <li>
    <router-link class="nav-item" tag="li" to="/enseignants/create" exact>
      <a class="nav-link"><i class="fa fa-pencil"></i> Create enseignant</a>
    </router-link>
    </li>
    <li>
    <router-link class="nav-item" tag="li" to="/salles/create" exact>
      <a class="nav-link"><i class="fa fa-pencil"></i> Create salle</a>
    </router-link>
    </li>
  </ul>
</nav>
